<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_name }}</title>
</head>
<body>
    <h1>{{ page_name }}</h1>
    <div>
        {{ window_body }}
    </div>
    <form method="post">
        <label>
            FirstName:
            <input type="text"
                   name="user_firstname">
        </label>
        <label>
            LastName:
            <input type="text"
                   name="user_lastname">
        </label>

        <input type="submit">
    </form>
</body>
</html>