<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_name }}</title>
</head>
<body>
    <div>
        <a href='/'>{{ page_name }}</a>
    </div>
    <div>
        {{ window_body }}
    </div>
    <div>
        <ol>
            <li><a href='/random'>random</a></li>
            <li><a href='/currenttime'>currenttime</a></li>
            <li><a href='/currentdate'>currentdate</a></li>
            <li><a href='/count'>count</a></li>
            <li><a href='/lotto'>lotto</a></li>
            <li><a href='/hello'>hello</a> (form)</li>
            <li><a href='/calculator'>calculator</a> (form)</li>
            <li><a href='/get_post'>get-post</a> (form)</li>
        </ol>
    </div>
</body>
</html>